/* ISADORA */
#tudo {
    width: 320px;
    margin:0 auto;
}
header h1 {
    float: none;
    text-align: center;
}
header h2 {
    float:none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
nav ul li {
    display: block;
    clear: right;
    margin: 0px 0px 0px 0px;
    padding: 0;
    float: none;
    font-size: 20px;
    position: relative;
    text-align: center;
} nav ul {
    float: none;
}
h3 {
    font-size: 30px;
}
article h4 p {
    font-size: 15px;
}
section {
    height: 100%;
    padding: 0px 0px 50px 0px;
}
#desktop {
    float:none;
    margin:0px 0px 0px 0px;
    width: 100%;
}
#tablet {
    float: none;
    margin:20px 0px 0px 0px;
    width: 100%;
}
#mobile {
    float:none;
    margin:20px 0px 0px 0px;
    width: 100%;
}
footer img {
    float: none;
    margin:0px;
}

